<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>

  <body>
    <div class="leave-note-container">
      <h1 class="leave-note-title">Leave your note</h1>
      <div class="leave-note-contents">
        <form action="/addNote" method="post">
          <textarea name="content" id="" cols="30" rows="10" placeholder="Note"></textarea>
          <button type="submit">SEND</button>
        </form>
      </div>
      <a href="/">Go back home</a>
    </div>
  </body>

</html>