*,
body {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 2vh auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

li {
  list-style: none;
}

.home-container {
}

.home-title {
}

.home-contents {
}

.see-others-note {
}

.see-others-note-link {
}

.add-note {
}

.show-notes-container {
}

.show-notes-title {
}

.show-notes-contents {
}
.show-notes-contents ul {
  padding: 0;
}

.leave-note-container {
}

.leave-note-title {
}

.leave-note-contents {
}
.leave-note-contents form {
  display: flex;
  flex-direction: column;
}
.leave-note-contents form textarea {
  text-align: left;
}
